body {
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

header {
    background-image: url(./header-img.jpg);
    height: 820px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 50px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 50px 100px;
    font-size: 20px;
}

.menu a {
    text-decoration: none;
    color: white;
    padding: 20px;
}

.logo {
    font-size: 35px;
    font-weight: 500;
}

.center {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    color: white;
    align-items: center;
    margin-top: 220px;
}

h1 {
    margin: 0;
    padding: 0;
    font-size: 60px;
    font-weight: 500;
}
h3 {
    font-size: 30px;
    font-weight: 500;
}
.btn {
    background-color: #3751b5;
    color: white;
    padding: 18px 50px;
    border-radius: 4px;
    text-decoration: none;
    font-size: 18px;
    box-shadow: 1px 2px 5px #3751b5;
    font-weight: 500;
}

.destination {
    text-align: center;
    padding: 25px 25px;
    width: 710px;
    margin: 0 auto;
    line-height: 30px;
    color: #a0a09e;
}

hr {
    width: 250px;
    border: 1.5px solid #3751b5;
    margin: 80px auto;
    margin-bottom: 50px;
}

h2 {
    font-size: 40px;
    color: #5E5B5C;
    font-weight: 400;
}

.destination-images {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.img-1-portrait {
    background-image: url(./img-1.webp);
    height: 300px;
    width: 30%;
    background-size: cover;
}

.img-2-landscape {
    background-image: url(./img-2.webp);
    height: 300px;
    width: 70%;
    background-position: bottom;
}

.img-1-landscape {
    background-image: url(./img-3.jpg);
    height: 300px;
    width: 70%;
    background-size: cover;
}

.img-2-portrait {
    background-image: url(./img-4.jpg);
    height: 300px;
    width: 30%;
    background-size: cover;
}

.destination-images1 {
    display: flex;
    gap: 10px;
}

.destination-images2 {
    display: flex;
    gap: 10px;
}

.bg-grey {
    background-color: #f5f5f5;
    padding-top: 30px;
}

.tour-package-tiles {
    justify-content: space-evenly;
    color: #a0a09e;
    font-size: 18px;

}

.tiles-1 {
    display: grid;
    grid-template-columns: 420px 400px;
    justify-content: space-evenly;
    text-align: center;
    line-height: 35px;
}

.tiles-2 {
    display: grid;
    grid-template-columns: 400px 400px;
    justify-content: space-evenly;
    text-align: center;
    line-height: 35px;
}
.container {
    max-width: 1100px;
    margin: 0 auto;
    padding-bottom: 100px;
}
.testimonials-container {
    text-align: center;
    font-size: 25px;
    color: #a0a09e;
    line-height: 40px;
    max-width: 850px;
    margin: 0 auto;
}

cite {
    font-size: 20px;
}

.learn-more {
    margin: 0 auto;
    text-align: center;
    max-width: 750px;

}
.learn-p {
    line-height: 35px;
    color: #a0a09e;
}

h4 {
    font-size: 30px;
    font-weight: 500;
    color: #5E5B5C;
    margin-bottom: 0;
}

#input {
    height: 44px;
    width: 300px;
}

.s-btn {
    background-color: #3751b5;
    padding: 18px 40px;
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    border-radius: 3px;
    font-weight: 600;
    text-transform: uppercase;
}
.subscribe-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
}

.img-crtsy {
    background-color: #607d8b;
    height: 70px;
    display: flex;
    align-items: center;
    gap: 50px;
    color: #8899A4;
    font-size: 13px;
    justify-content: space-around;
}
.footer-icon {
    display: flex;
    height: 30px;
    gap: 15px;
    justify-content: end;
}
